
@{
    ViewBag.Title = "Login";

}


<br />
<br />
<br />
<br />
<br />
<br />
<section class="appointment-area">
    <div class="container">
        @using (Html.BeginForm("LogInDoctorBtn", "Doctor"))
        {
            <div class="row justify-content-between align-items-center pb-120 appointment-wrap" style="background-color:#393939">
                <div class="col-lg-6 col-md-6 appointment-right pt-60 pb-60" style="border-color:#69be00;border-style:groove">
                    <form class="form-wrap" action="#">
                        <h3 class="pb-20 text-center mb-30">Hello Doctor</h3>
                        <h6 class="pb-20 text-center mb-30">please enter details to continue</h6>
                        <input  class="form-control" type="number" name="Id" placeholder="Id " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Id'" required>
                        <br />
                        <br />
                        <input type="submit" class="btn primary-btn text-uppercase" value="Log in" />
                    </form>
                </div>
            </div>
         }
    </div>
</section>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}


