
@{
    ViewBag.Title = "Login";
}

<script type="text/javascript">

    function myFunction() {
        var x = document.getElementById("service-select").value;
        document.getElementById("SelectedvendorText").innerText = x;
    }
</script>

<br />
<br />
<br />
<br />
<br />
<br />
<section class="appointment-area">
    <div class="container">
        @using (Html.BeginForm("SignInPatientBtn", "Home"))
        {
            <div class="row justify-content-between align-items-center pb-120 appointment-wrap">
                <div class="col-lg-6 col-md-6 appointment-right pt-60 pb-60">
                    <form class="form-wrap" action="#">
                        <h3 class="pb-20 text-center mb-30">Hello Patient</h3>
                        <h6 class="pb-20 text-center mb-30">please enter details to continue</h6>
                        <input type="text" class="form-control" name="FirstName" placeholder="First name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First name'">
                        <input type="text" class="form-control" name="LastName" placeholder="Last name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last name'">
                        <input type="text" class="form-control" name="ID" placeholder="Id " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Id'">
                        <input type="datetime" class="form-control" name="DateOfBirth" placeholder="DateOfBirth " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Date of birth'">

                        <div class="form-select">
                            <select id="service-select" onchange="myFunction()">
                                <option data-display="">Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" name="Gender" id="SelectedvendorText" style="display:none">


                        <input type="submit" class="btn primary-btn text-uppercase" value="Submit" />

                    </form>
                </div>
            </div>
        }
        </div>
</section>

