
@{
    ViewBag.Title = "Login";
}



<script type="text/javascript">

    function myFunction() {
        var x = document.getElementById("service-select").value;       
        document.getElementById("SelectedvendorText").innerText = x;
    }
</script>





<br />
<br />
<br />
<br />
<br />
<br />
<section class="appointment-area">
    <div class="container">
        @using (Html.BeginForm("SignInDoctorBtn", "Home"))
        {
            <div class="row justify-content-between align-items-center pb-120 appointment-wrap">
                <div class="col-lg-6 col-md-6 appointment-right pt-60 pb-60">
                    <form class="form-wrap" action="#">
                        <h3 class="pb-20 text-center mb-30">Hello Doctor</h3>
                        <h6 class="pb-20 text-center mb-30">please enter details to continue</h6>
                        <input type="text" class="form-control" name="Name" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'">
                        <input type="text" class="form-control" name="Phone" placeholder="Phone " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'">
                        <input type="text" class="form-control" name="WorkPlace" placeholder="Work Place " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Work Place'">
                        <input type="text" class="form-control" name="ID" placeholder="Id " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Id'">

                        <input type="email" class="form-control" name="MailAddress" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                        <div class="form-select" >
                            <select id="service-select" onchange="myFunction()">
                                <option data-display="">Specialization Type </option>
                                <option value="Oncology">Oncology</option>
                                <option value="Geriatrics">Geriatrics</option>
                                <option value="Surgery">Surgery</option>
                                <option value="Psychiatry">Psychiatry</option>
                                <option value="Family doctor">Family doctor</option>
                                <option value="Pediatrics">Pediatrics</option>
                                <option value="Neurology">Neurology</option>
                                <option value="Neurosurgery">Neurosurgery</option>
                                <option value="Eye diseases">Eye diseases</option>
                                <option value="Skin and venereal diseases">Skin and venereal diseases</option>
                                <option value="Vascular surgery">Vascular surgery</option>
                                <option value="dentistryv">dentistry</option>

                            </select>
                        </div>
                        <input type="text" class="form-control" name="specialization" id="SelectedvendorText" style="display:none">

                        <input type="submit" class="btn primary-btn text-uppercase" value="Submit" />
                    </form>
                </div>
            </div>
        }
    </div>
</section>

